In [1]:
import pandas as pd

# Load the CSV files
train = pd.read_csv("C:\\Users\\ranji\\OneDrive\\Desktop\\1IA\\train_LZdllcl.csv")
test = pd.read_csv(("C:\\Users\\ranji\\OneDrive\\Desktop\\1IA\\test_2umaH9m.csv"))

# Confirm data loaded
print("Train shape:", train.shape)
print("Test shape:", test.shape)
train.head()

Train shape: (54808, 14)
Test shape: (23490, 13)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [3]:
# Fill missing values safely
target_column = 'is_promoted'

for col in train.columns:
    if col == target_column:
        continue
    if train[col].dtype == 'object':
        mode_val = train[col].mode()[0]
        train[col] = train[col].fillna(mode_val)
        if col in test.columns:
            test[col] = test[col].fillna(mode_val)
    else:
        median_val = train[col].median()
        train[col] = train[col].fillna(median_val)
        if col in test.columns:
            test[col] = test[col].fillna(median_val)

print("✅ Missing values filled.")

✅ Missing values filled.

In [5]:
# Split target
y_train = train['is_promoted']
X_train_raw = train.drop('is_promoted', axis=1)
X_test_raw = test.copy()

# Combine and encode
combined = pd.concat([X_train_raw, X_test_raw], axis=0)
combined_encoded = pd.get_dummies(combined)

# Split back
X_train = combined_encoded.iloc[:len(X_train_raw), :]
X_test = combined_encoded.iloc[len(X_train_raw):, :]

print("✅ Encoding done. X_train shape:", X_train.shape)

✅ Encoding done. X_train shape: (54808, 59)

In [7]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_tr, y_tr)
y_pred = model.predict(X_val)

print("✅ Model trained.")
print(classification_report(y_val, y_pred))

✅ Model trained.
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     10054
           1       0.90      0.27      0.41       908

    accuracy                           0.94     10962
   macro avg       0.92      0.63      0.69     10962
weighted avg       0.93      0.94      0.92     10962

In [11]:
y_test_pred = model.predict(X_test)

In [13]:
submission = pd.DataFrame({
    'employee_id': test['employee_id'],
    'is_promoted': y_test_pred
})

submission.to_csv('submission.csv', index=False)
print("✅ Submission file 'submission.csv' created.")

✅ Submission file 'submission.csv' created.

In [15]:
submission.to_csv('submission.csv', index=False)

In [17]:
import os
os.getcwd()

'C:\\Users\\ranji'